@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.contenedor {

    padding-top: 13vh;
}

.contenedorDetail {

    margin-left: 10em;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 320px;
    margin: auto;
    align-items: center;
    background: #111;
    border-radius: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.contenedorDetail__Titulo {

    font-size: 22px;
    margin: 5px 0px 20px 0px;
    width: 75%;
    text-align: center;
}

.contenedorDetail__Bandera {

    width: 60%;
    border-radius: 10px;
    padding: 20px;
    background: #383838;
}

.contenedorDetail__Items {

    margin: 8px;
    font-size: 16px;
}